{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
   "extends": [
   ],
  "rules" : {
      "no-console": 1,
      "semi": [1, "never"],
      "camelcase" : 1,
      "object-curly-newline": 1, // enforce consistent line breaks after opening and before closing braces
      "brace-style": [1, "stroustrup"], 
      "indent": [1, 4],
      "no-trailing-spaces": 1,
      "no-multi-spaces":1,
      "quotes": [1, "single", { "avoidEscape": true, "allowTemplateLiterals":true}],
      "no-unused-vars":0,
      "@typescript-eslint/no-unused-vars": 1
  }
}